name: video_chat_app
description: A video chat application built with Flutter and Agora SDK

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter
  agora_rtc_engine: ^6.2.6
  permission_handler: ^11.0.1
  flutter_secure_storage: ^9.0.0
  cupertino_icons: ^1.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/